body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  background-color: #88e93a;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}

textarea {
  width: 300px;
  height: 100px;
  font-size: 1.125rem;
  padding: 0.85rem;
  display: block;
  resize: none;
  border: 1px solid #88e93a;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(68, 68, 68, 0.1);
}

#char-count {
  margin-top: 0.75rem;
  font-size: 1.125rem;
  color: #16534b;
  font-weight: 700;
}
